/* common style */

main{
    font-family: 'Poppins', sans-serif;
}

/* players style */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    margin-top: 747px;
    margin-left: 180px;
    /* align-items: flex-start; */
    
}
.player>img{
    width: 300px;
    height: 256px;
}
.player{
    width: 330px;
    height: 474px;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player>h3{
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player>p{
    color: #6C6C6C;
    font-size: 16px;
}

/* upcomming Event style */

.upcomming-event{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.event{
    height: 100%;
    width: 50%;
}
.event-title{
    padding-left: 35%;
}

.event-title>.host{
    width: 150px;
    margin-left: 50px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(yellow,blue,red);
}
.event-title>.date{
    padding-left: 55px;
}

/* latest news style */

.latest-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title{
    width: 100%;
    background-color: lightgray;
}
.section-title>h2{
    padding-left: 700px;
}
.news-title>p{
    margin-left: 120px;
    padding-bottom: 20px;
    font-style: oblique;
}
.winner{
    margin-left: 80px;
    padding: 20px;
    background-image: linear-gradient(skyblue,white);
}

/* footer style */

footer{
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 475px;
    margin-top: 100px;

}
.footer>img{
    width: 484px;
    height: 110px;
}

/* social midea icons */

.fab{
    margin: 0px 14px;
    padding: 5px;
    background-color:  #969BAB;
    border-radius: 15px;
}
/* media Queries */
/* Mobile devices */
@media only screen and (max-width:688px){
    .players{
        margin-top: 742px;
        margin-left: 15px;
        grid-template-columns: repeat(1,1fr);
    }
    .section-title{
        width: 688px;
    }
    .section-title>h2{
        padding-left: 300px;
    }
    .event-title>.date{
        padding-left: 0px;
    }
    .event-title>.host{
        margin-left: -10px;
    }
    article>p{
        margin-left: 80px;
    }
    footer{
        margin-left: 0px;
    }
}

/* Ipad */
@media only screen and (min-width:688px) and (max-width:992px) {
    .players{
        margin-top: 1150px;
        margin-left: 15px;
        grid-template-columns: repeat(2,1fr);
    }

    .section-title{
        width: 800px;
    }
    .section-title>h2{
        padding-left: 300px;
    }
    .event-title{
        padding-left: 20%;
    }
    .event-title>.date{
        padding-left: 70px;
    }
    .event-title>.host{
        margin-left: 60px;
    }
    article>p{
        margin-left: 80px;
    }
    footer{
        margin-left: 100px;
    }
}